/* style.css */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 18px;
}

/* clear-list.css */

.clear-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* compound.css */

.compound__name{
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.compound__list{
    margin-top: 5px;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 25px;
    color: #515076;
}


/* catalog.css */

.catalog__container{
background-image: url(../images/back_1.png);
background-repeat: no-repeat;
background-position: 0 0;
padding-top: 1px;
}

.catalog__title{
    margin-bottom: 110px;
    margin-top: 220px;
}

/* container.css */

.contanier{
    width: 1100px;
    margin: 0 auto;
}

/* title.css */

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin-bottom: 110px;
    text-align: center;
    color: #515076;
}

/* card.css */

.card{
    background-color: #F7F7FA;
    padding: 25px;
    width: 100%;
}

.card__image{
    display: block;
}

.card__category{
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
    margin-top: 30px;
}

.card__name{
    font-size: 20px;
    line-height: 27px;
    color: #515076;
    margin: 5;
}


.card__description{
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    margin-top: 5xp;
    margin-bottom: 15px;
}

.card__price{
    font-size: 20px;
    line-height: 24px;
    color: #515076;
    display: flex;
    justify-content: space-between;
}

/* products.css */

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.products__item{
    width: 340px;

}

/* button.css */

.button{
    background-color: blueviolet;
}

.button__orange{
    background-color: orange;
}